<!doctype html>
<html>

<head>
    <title>{{page_name}}</title>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>

<body>
    {% block navbar %}
    {{nav.top.render(id='top-navbar')}}
    {% endblock %}
    
    {% block content %}
    {% endblock %}
</body>