{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Interface utilisateur</h1>
    <form action="" method="POST">
        <div class="row">
            <div class="col-md-3">
                <h3>Phares</h3>
                <ul>
                    <li>
                        <label for="cbxAutomaticMode">Avant</label>
                        <input type="checkbox" value="#"  name="cbx">
                    </li>
                    <li>
                        <label for="cbxAutomaticMode">Droite</label>
                        <input type="checkbox" value="#"  name="cbx">
                    </li>
                    <li>
                        <label for="cbxAutomaticMode">Arrière</label>
                        <input type="checkbox" value="#"  name="cbx">
                    </li>
                    <li>
                        <label for="cbxAutomaticMode">Gauche</label>
                        <input type="checkbox" value="#"  name="cbx">
                    </li>
                </ul>

            </div>
            <div class="col-md-3">
                <h3>Caméras</h3>
                <ul>
                    <li>
                        <label for="cbxAutomaticMode">Avant</label>
                        <input type="checkbox" value="#"  name="cbx">
                    </li>
                    <li>
                        <label for="cbxAutomaticMode">Droite</label>
                        <input type="checkbox" value="#"  name="cbx">
                    </li>
                    <li>
                        <label for="cbxAutomaticMode">Arrière</label>
                        <input type="checkbox" value="#"  name="cbx">
                    </li>
                    <li>
                        <label for="cbxAutomaticMode">Gauche</label>
                        <input type="checkbox" value="#"  name="cbx">
                    </li>
                </ul>

            </div>
            <div class="col-md-3">
                <h3>Détecteur de sol</h3>
                <ul>
                    <li>
                        <label for="cbxAutomaticMode">Avant</label>
                        <input type="checkbox" value="#"  name="cbx">
                    </li>
                    <li>
                        <label for="cbxAutomaticMode">Droite</label>
                        <input type="checkbox" value="#"  name="cbx">
                    </li>
                    <li>
                        <label for="cbxAutomaticMode">Arrière</label>
                        <input type="checkbox" value="#"  name="cbx">
                    </li>
                    <li>
                        <label for="cbxAutomaticMode">Gauche</label>
                        <input type="checkbox" value="#"  name="cbx">
                    </li>
                </ul>

            </div>
            <div class="col-md-3">
                <h3>Scanner 360°</h3>
                <ul>
                    <li>
                        <label for="cbxAutomaticMode">Activer</label>
                        <input type="checkbox" value="#"  name="cbx">
                    </li>
                </ul>

            </div>
            <div class="col-md-6">
                <img src="../static/img/camera_down.png" class="cameras">
            </div>
            <div class="col-md-6">
                <img src="../static/img/camera_down.png" class="cameras">
            </div>
            <div class="col-md-6">
                <img src="../static/img/camera_down.png" class="cameras">
            </div>
            <div class="col-md-6">
                <img src="../static/img/camera_down.png" class="cameras">
            </div>
        </div>
    </form>
</div>

{% endblock %}