{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Interface utilisateur</h1>
    <form action="#" method="POST" id="form_dashboard">
        <div class="row">
            <div class="col-md-3">
                <h3>Phares</h3>
                <ul>
                    <li>
                        <label for="cbxLight0">Avant</label>
                        <input type="checkbox" value="bright-pi" name="cbxLight0">
                    </li>
                    <li>
                        <label for="cbxLight1">Droite</label>
                        <input type="checkbox" value="bright-pi" name="cbxLight1">
                    </li>
                    <li>
                        <label for="cbxLight2">Arrière</label>
                        <input type="checkbox" value="bright-pi" name="cbxLight2">
                    </li>
                    <li>
                        <label for="cbxLight3">Gauche</label>
                        <input type="checkbox" value="bright-pi" name="cbxLight3">
                    </li>
                </ul>

            </div>
            <div class="col-md-3">
                <h3>Caméras</h3>
                <ul>
                    <li>
                        <label for="cbxCamera0">Avant</label>
                        <input type="checkbox" value="camera" name="cbxCamera0">
                    </li>
                    <li>
                        <label for="cbxCamera1">Droite</label>
                        <input type="checkbox" value="camera" name="cbxCamera1">
                    </li>
                    <li>
                        <label for="cbxCamera2">Arrière</label>
                        <input type="checkbox" value="camera" name="cbxCamera2">
                    </li>
                    <li>
                        <label for="cbxCamera3">Gauche</label>
                        <input type="checkbox" value="camera" name="cbxCamera3">
                    </li>
                </ul>

            </div>
            <div class="col-md-3">
                <h3>Détecteur de sol</h3>
                <ul>
                    <li>
                        <label for="cbxGroundDetection0">Avant</label>
                        <input type="checkbox" value="flying-fish" name="cbxGroundDetection0">
                    </li>
                    <li>
                        <label for="cbxGroundDetection1">Droite</label>
                        <input type="checkbox" value="flying-fish" name="cbxGroundDetection1">
                    </li>
                    <li>
                        <label for="cbxGroundDetection2">Arrière</label>
                        <input type="checkbox" value="flying-fish" name="cbxGroundDetection2">
                    </li>
                    <li>
                        <label for="cbxGroundDetection3">Gauche</label>
                        <input type="checkbox" value="flying-fish" name="cbxGroundDetection3">
                    </li>
                </ul>

            </div>
            <div class="col-md-3">
                <h3>Scanner 360°</h3>
                <ul>
                    <li>
                        <label for="cbxScanner4">Activer</label>
                        <input type="checkbox" value="lidar" name="cbxScanner4">
                    </li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <iframe class="cameras" id="cnvCam0" src="http://192.168.50.88:5000/streaming_camera"></iframe>
            </div>
            <div class="col-md-6">
                <iframe class="cameras" id="cnvCam1" src="http://192.168.50.88:5000/streaming_camera"></iframe>
            </div>
            <div class="col-md-6">
                <iframe class="cameras" id="cnvCam2" src="http://192.168.50.88:5000/streaming_camera"></iframe>
            </div>
            <div class="col-md-6">
                <iframe class="cameras" id="cnvCam3" src="http://192.168.50.88:5000/streaming_camera"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="{{ url_for('video_feed', state = 0) }}" id="lidar" alt="radar" />
            </div>
        </div>
    </form>
</div>

<script type=text/javascript>
const STATE_ON = 1;
const STATE_OFF = 0;

const CODE_FRONT = 0;
const CODE_RIGHT = 1;
const CODE_BACK = 2;
const CODE_LEFT = 3;
const CODE_OTHER = 4;

const SENSOR_CAMERA = "camera"
const SENSOR_LIDAR = "lidar"

const IP_RSP_FRONT = 88;
const IP_RSP_RIGHT = -1;
const IP_RSP_BACK = -1;
const IP_RSP_LEFT = -1;
const IP_RSP_MAIN = 241;

$(document).ready(function () {
    $("#form_dashboard :checkbox").change(function () {
        let endpoint = "";
        let ip_address = "192.168.50.";
        // get the value of the checkbok, it can be "bright-pi", "camera" or "flying-fish"
        let cbx_value = $(this).val()
        // get the name of the checkbox
        let cbx_name = $(this).attr('name')
        // get the last char of the checkbox's name in order to know which side needs to be changed
        // example : cbxLight0, the 0 = the bright pi front sensors
        let code_position = parseInt(cbx_name.substring(cbx_name.length - 1, cbx_name.length))
        // reload the iframe of the selected camera
        if(cbx_value == SENSOR_CAMERA){
            var iframe = document.getElementById(`cnvCam${code_position}`);
            console.log(iframe.src)
            iframe.src = iframe.src
        }

        // choose the correct ip for the raspberry 
        switch (code_position) {
            case CODE_FRONT:
                ip_address+=IP_RSP_FRONT
                break;
            case CODE_RIGHT:
                ip_address+=IP_RSP_RIGHT
                break;
            case CODE_BACK:
                ip_address+=IP_RSP_BACK
                break;
            case CODE_LEFT:
                ip_address+=IP_RSP_LEFT
                break;
            case CODE_OTHER:
                ip_address+=IP_RSP_MAIN
                break;
            default:
                break;
        }
        // verify the state of the checkbox
        if (this.checked) {
            cbx_state = STATE_ON;
        } else {
            cbx_state = STATE_OFF;
        }
        // add the Flask port
        ip_address += ":5000"
        // set the URL
        endpoint = `http://${ip_address}/${cbx_value}/${cbx_state}`
        if(cbx_value == SENSOR_LIDAR){
            endpoint = `/bg_processing_lidar/${cbx_state}`
            $("#lidar").attr("src", `/video_feed/${cbx_state}`)
        }
        execute(endpoint);
    });
});

function execute(endpoint) {
    $.ajax({
        url: endpoint,
        type: "POST",
        success: function (response) {
            console.log(response);
        },
        error: function (error) {
            console.log(error);
        },
    });
}

    </script>

{% endblock %}