{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Interface utilisateur</h1>
    <form action="/form_dashboard_response" method="POST">
        <div class="row">
            <div class="col-md-3">
                <h3>Phares</h3>
                <ul>
                    <li>
                        <label for="cbxLightFront">Avant</label>
                        <input type="checkbox" value="#"  name="cbxLightFront">
                    </li>
                    <li>
                        <label for="cbxLightRight">Droite</label>
                        <input type="checkbox" value="#"  name="cbxLightRight">
                    </li>
                    <li>
                        <label for="cbxLightBack">Arrière</label>
                        <input type="checkbox" value="#"  name="cbxLightBack">
                    </li>
                    <li>
                        <label for="cbxLightLeft">Gauche</label>
                        <input type="checkbox" value="#"  name="cbxLightLeft">
                    </li>
                </ul>

            </div>
            <div class="col-md-3">
                <h3>Caméras</h3>
                <ul>
                    <li>
                        <label for="cbxCameraFront">Avant</label>
                        <input type="checkbox" value="#"  name="cbxCameraFront">
                    </li>
                    <li>
                        <label for="cbxCameraRight">Droite</label>
                        <input type="checkbox" value="#"  name="cbxCameraRight">
                    </li>
                    <li>
                        <label for="cbxCameraBack">Arrière</label>
                        <input type="checkbox" value="#"  name="cbxCameraBack">
                    </li>
                    <li>
                        <label for="cbxCameraLeft">Gauche</label>
                        <input type="checkbox" value="#"  name="cbxCameraLeft">
                    </li>
                </ul>

            </div>
            <div class="col-md-3">
                <h3>Détecteur de sol</h3>
                <ul>
                    <li>
                        <label for="cbxGroundDetectionFront">Avant</label>
                        <input type="checkbox" value="#"  name="cbxGroundDetectionFront">
                    </li>
                    <li>
                        <label for="cbxGroundDetectionRight">Droite</label>
                        <input type="checkbox" value="#"  name="cbxGroundDetectionRight">
                    </li>
                    <li>
                        <label for="cbxGroundDetectionBack">Arrière</label>
                        <input type="checkbox" value="#"  name="cbxGroundDetectionBack">
                    </li>
                    <li>
                        <label for="cbxGroundDetectionLeft">Gauche</label>
                        <input type="checkbox" value="#"  name="cbxGroundDetectionLeft">
                    </li>
                </ul>

            </div>
            <div class="col-md-3">
                <h3>Scanner 360°</h3>
                <ul>
                    <li>
                        <label for="cbxScanner">Activer</label>
                        <input type="checkbox" value="#"  name="cbxScanner">
                    </li>
                </ul>

            </div>
            <div class="col-md-6">
                <img src="../static/img/camera_down.png" class="cameras">
            </div>
            <div class="col-md-6">
                <img src="../static/img/camera_down.png" class="cameras">
            </div>
            <div class="col-md-6">
                <img src="../static/img/camera_down.png" class="cameras">
            </div>
            <div class="col-md-6">
                <img src="../static/img/camera_down.png" class="cameras">
            </div>
        </div>
        <input type="submit" value="validate" name="send_request" class="btn btn-success" />
    </form>
</div>

{% endblock %}